.box{
    background: #F7FAFB;
    padding: 20px
}


.tabs{
    background: white;
    margin-top: 20px;
    padding: 10px;
    
}

.row1{
    background: white;
    padding: 0px;
}

:global {
    .ant-tabs-nav-container{
      font-size: 14px; 
      display:flex;
      justify-content:flex-start;
    }
  }
